* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  overflow-x: hidden;
}

header a {
  color: #eeeeee;
  text-decoration: none;
}

.textColorWhite {
  color: #eeeeee;
}

.textColorBlue {
  color: #00adb5;
}

.textColorGrayWithShadow {
  background-color: #393e46;
  color: #eeeeee;
  text-shadow: 1px 3px 5px #222831;
  border: none;
}

.textColorBlueWithShadow {
  background-color: #00adb5;
  color: #eeeeee;
  text-shadow: 1px 3px 5px #222831;
  border: none;
}
.textColorWhite {
  color: #eeeeee;
}
.textColorWhiteBackGray {
  background-color: #393e46;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #eeeeee;
  outline: none;
}

.iconDownload {
  background: url("imgs/icons/download.svg") no-repeat center center;
  transition: all 0.3s;
}
.iconSend {
  background: url("imgs/icons/send.svg") no-repeat center center;
}
.iconHome {
  background: url("imgs/icons/home.svg") no-repeat center center;
}
.iconAbout {
  background: url("imgs/icons/user.svg") no-repeat center center;
}
.iconContact {
  background: url("imgs/icons/phone.svg") no-repeat center center;
}

.iconDownPage {
  background: url("./imgs/icons/Frame\ 7.svg") no-repeat center center;
}

.iconArrow {
  background: url("imgs/backgrounds/Vector\ 187.svg") no-repeat center center;
}
.iconGitHub {
  background: #eeeeee
    url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg")
    no-repeat center center;
  background-size: contain;
}

.iconLinkedin {
  background: #00adb5
    url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg")
    no-repeat center center;
  background-size: contain;
}
.line2 {
  background: url("./imgs/backgrounds/Line\ 2.svg") no-repeat center center;
}

textarea {
  resize: none;
}

.hidden {
  opacity: 0%;
  filter: blur(15px);
  transition: all 0.8s;
}

.show {
  opacity: 100%;
  filter: blur(0);
  transition: all 0.8s;
}
.titleButtons a,
button {
  transition: all 0.3s;
}
.titleButtons a:hover {
  background-color: #eeeeee;
  color: #00adb5;
  text-shadow: none;
  transform: scale(1.05) translateY(-10px);
  cursor: pointer;
}

.titleButtons button:hover {
  background-color: #eeeeee;
  color: #393e46;
  text-shadow: none;
  transform: scale(1.05) translateY(-10px);
  cursor: pointer;
}

.titleButtons button:hover > .iconDownload {
  background: url("imgs/icons/download\ \(1\).svg") no-repeat center center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Header */
  .headerContainer {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #393e46;
  }
  .logo {
    background: url("imgs/Logotipo.png") no-repeat center center;
    background-size: cover;

    width: 70%;
    height: 80%;
  }

  .AnchorLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
  }

  /* ---------------------------------------------- */

  /* Body Section Home */

  #HomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .HomeContainer {
    width: 100vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleContainer {
    width: 100%;
    min-height: 40vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("imgs/backgrounds/Vector\ 186.svg") no-repeat 30% 90%;
    background-size: 50px;
  }
  .title {
    text-align: center;
    width: auto;
  }

  .title span {
    font-size: 150%;
  }

  .titleButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
  }
  .titleButtons a,
  button {
    font-size: 120%;
    padding: 10px;
    width: 35%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    text-decoration: none;
  }

  .titleButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconDownload {
    width: 20%;
    height: 100%;
    padding: 10px;
  }
  .iconDownPage {
    width: 15%;
    height: 7vh;
    background-size: contain;
  }
  .Cargo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px;
    background: url("imgs/backgrounds/doodles\ mixed\ round.svg") no-repeat
      center center;
    background-size: contain;
  }
  .cargoImg {
    background: url("imgs/man/Group\ 2345.svg") no-repeat center center;
    background-size: contain;
    width: 100vw;
    height: 30vh;
  }
  /* ---------------------------------------------- */

  /* About Section */

  #About {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50%;
  }

  .titleAbout {
    font-size: 300%;
    background: url("imgs/backgrounds/lightbulb.svg") no-repeat 80% center;
    background-size: 50px;
    width: 100%;
    text-align: center;
  }

  .aboutContainer p {
    width: 80%;
    text-indent: 20px;
    text-align: justify;
  }

  .aboutMeManImg {
    background: url("imgs/backgrounds/Component\ 1.svg") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 50%;
  }

  /* ---------------------------------------------- */

  /* My Projects */

  #Projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Projects span {
    font-size: 250%;
  }

  #Projects h1 {
    background: url("imgs/backgrounds/Vector\ 141.svg") no-repeat 105% center;
    background-size: contain;
    width: 100%;
    text-align: center;
  }

  .ContainerProjects {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: 70%;
    height: 40vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("imgs/backgrounds/doodle\ items.svg") no-repeat center
      center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50px;
  }

  .ProjectImg {
    background: url("https://placehold.co/600x400") no-repeat center center;
    background-size: cover;
    width: 70%;
    height: 70%;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .projectButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectButtons a {
    width: 35%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
  }

  /* ---------------------------------------------- */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Header */
  .headerContainer {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #393e46;
  }
  .logo {
    background: url("imgs/Logotipo.png") no-repeat center center;
    background-size: cover;

    width: 60%;
    height: 80%;
  }

  .AnchorLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
  }
  /* ---------------------------------------------- */
  /* Body Section Home */

  #HomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .HomeContainer {
    width: 100vw;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleContainer {
    width: 100%;
    min-height: 40vh;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("imgs/backgrounds/Vector\ 186.svg") no-repeat 30% 90%;
    background-size: 50px;
  }
  .title {
    text-align: center;
    width: auto;
  }

  .title span {
    font-size: 150%;
  }

  .titleButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    align-items: center;
  }
  .titleButtons a,
  button {
    font-size: 120%;
    padding: 10px;
    width: 35%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    text-decoration: none;
  }

  .titleButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconDownload {
    padding: 10px;
    width: 20%;
    height: 100%;
  }
  .iconDownPage {
    width: 15%;
    height: 7vh;
    background-size: contain;
  }
  .Cargo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px;
    background: url("imgs/backgrounds/doodles\ mixed\ round.svg") no-repeat
      center center;
    background-size: contain;
  }
  .cargoImg {
    background: url("imgs/man/Group\ 2345.svg") no-repeat center center;
    background-size: contain;
    width: 100vw;
    height: 30vh;
  }
  /* ---------------------------------------------- */

  /* About Section */

  #About {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50%;
  }

  .titleAbout {
    font-size: 300%;
    background: url("imgs/backgrounds/lightbulb.svg") no-repeat 80% center;
    background-size: 50px;
    width: 100%;
    text-align: center;
  }

  .aboutContainer p {
    width: 80%;
    text-indent: 20px;
    text-align: justify;
  }

  .aboutMeManImg {
    background: url("imgs/backgrounds/Component\ 1.svg") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 50%;
  }

  /* ---------------------------------------------- */

  /* My Projects */

  #Projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Projects span {
    font-size: 250%;
  }

  #Projects h1 {
    background: url("imgs/backgrounds/Vector\ 141.svg") no-repeat 105% center;
    background-size: contain;
    width: 100%;
    text-align: center;
  }

  .ContainerProjects {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .project {
    width: 70%;
    height: 40vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("imgs/backgrounds/doodle\ items.svg") no-repeat center
      center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50px;
  }

  .ProjectImg {
    background: url("https://placehold.co/600x400") no-repeat center center;
    background-size: cover;
    width: 70%;
    height: 70%;
    backdrop-filter: blur(10px);
    border-radius: 5px;
  }

  .projectButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectButtons a {
    width: 35%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
  }

  /* ---------------------------------------------- */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .headerContainer {
    width: 100vw;
    min-height: 20vh;
    max-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #393e46;
  }
  .logo {
    background: url("imgs/Logotipo.png") no-repeat center center;
    background-size: cover;

    width: 50%;
    height: 100%;
  }

  .AnchorLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Header */
  .headerContainer {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #393e46;
  }
  .logo {
    background: url("imgs/Logotipo.png") no-repeat center center;
    background-size: cover;

    width: 40%;
    height: 100%;
  }

  .AnchorLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
  }
  .AnchorLinks a {
    width: 15%;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5em;
    transition: all 0.3s;
  }
  .AnchorLinks a:hover {
    background-color: #393e46;
    transform: scale(1.05) translateY(-10px);
  }

  /* ---------------------------------------------- */

  /* Body Section Home */

  #HomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .HomeContainer {
    width: 100vw;
    height: 75vh;
    min-height: 75vh;
    max-height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .titleContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: url("imgs/backgrounds/Vector\ 186.svg") no-repeat 30% 75%;
    background-size: 100px;
    padding: 40px;
  }
  .title {
    text-align: left;
    width: auto;
  }

  .title span {
    font-size: 250%;
  }

  .titleButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10%;
  }
  .titleButtons a,
  button {
    font-size: 120%;
    padding: 10px;
    width: 30%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    text-decoration: none;
  }

  .titleButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconDownload {
    width: 20%;
    height: 100%;
  }
  .iconDownPage {
    width: 100%;
    height: 7vh;
    margin-top: 20%;
    background-size: contain;
  }
  .Cargo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 10px;
    background: url("imgs/backgrounds/doodles\ mixed\ round.svg") no-repeat
      center center;
    background-size: contain;
  }
  .cargoImg {
    background: url("imgs/man/Group\ 2345.svg") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  /* ---------------------------------------------- */

  /* About Section */

  #About {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    height: 100%;
  }

  .titleAbout {
    font-size: 300%;
    background: url("imgs/backgrounds/lightbulb.svg") no-repeat 90% center;
    background-size: 50px;
    width: 80%;
    text-align: left;
  }

  .aboutContainer p {
    width: 80%;
    text-indent: 0;
    text-align: start;
    font-size: 150%;
  }

  .aboutMeManImg {
    background: url("imgs/backgrounds/Component\ 1.svg") no-repeat center center;
    background-size: contain;
    width: 50%;
    height: 100%;
  }

  /* ---------------------------------------------- */

  /* My Projects */

  #Projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("imgs/backgrounds/doodle\ items.svg") no-repeat center
      center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 50px 50px #222831;
  }

  #Projects span {
    font-size: 250%;
  }

  #Projects h1 {
    width: 80%;
    text-align: left;
    background: none;
  }

  .ContainerProjects {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project {
    width: calc(100% / 3);
    height: 40vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: none;
    background-color: #393e46da;
    border-radius: 10px;
  }

  .ProjectImg {
    background: url("https://placehold.co/600x400") no-repeat center center;
    background-size: cover;
    width: 90%;
    height: 70%;
    border-radius: 5px;
  }

  .projectButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectButtons a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
  }

  /* ---------------------------------------------- */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerContainer {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #393e46;
  }
  .logo {
    background: url("imgs/Logotipo.png") no-repeat center center;
    background-size: cover;

    width: 25%;
    height: 100%;
  }

  .AnchorLinks a {
    width: 15%;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5em;
    transition: all 0.3s;
  }
  .AnchorLinks a:hover {
    background-color: #393e46;
    transform: scale(1.05) translateY(-10px);
  }

  /* Body Section Home */

  #HomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .HomeContainer {
    width: 100vw;
    height: 75vh;
    min-height: 75vh;
    max-height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .titleContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("imgs/backgrounds/Vector\ 186.svg") no-repeat 30% 70%;
    background-size: 100px;
    padding: 40px;
  }
  .title {
    text-align: left;
    width: 80%;
  }

  .title span {
    font-size: 250%;
  }

  .titleButtons {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2%;
  }
  .titleButtons a,
  button {
    font-size: 90%;
    padding: 10px;
    width: 25%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    text-decoration: none;
  }

  .titleButtons button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconDownload {
    width: 20%;
    height: 100%;
  }
  .iconDownPage {
    width: 100%;
    height: 7vh;
    margin-top: 20%;
    background-size: contain;
  }
  .Cargo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 10px;
    background: url("imgs/backgrounds/doodles\ mixed\ round.svg") no-repeat
      center center;
    background-size: contain;
  }
  .cargoImg {
    background: url("imgs/man/Group\ 2345.svg") no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  /* ---------------------------------------------- */

  /* About Section */

  #About {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 40%;
    height: 100%;
  }

  .titleAbout {
    font-size: 300%;
    background: url("imgs/backgrounds/lightbulb.svg") no-repeat 80% center;
    background-size: 50px;
    width: 80%;
    text-align: left;
  }

  .aboutContainer p {
    width: 80%;
    text-indent: 0;
    text-align: start;
    font-size: 120%;
    text-align: justify;
  }

  .aboutMeManImg {
    background: url("imgs/backgrounds/Component\ 1.svg") no-repeat center center;
    background-size: contain;
    width: 60%;
    height: 60%;
  }

  /* ---------------------------------------------- */
  /* My Projects */

  #Projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url("imgs/backgrounds/doodle\ items.svg") no-repeat center
      center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 50px 50px #222831;
  }

  #Projects span {
    font-size: 250%;
  }

  #Projects h1 {
    width: 80%;
    text-align: left;
    background: none;
  }

  .ContainerProjects {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .project {
    width: calc(100% / 4);
    height: 55vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: none;
    background-color: #393e46da;
    border-radius: 10px;
  }

  .ProjectImg {
    background: url("https://placehold.co/600x400") no-repeat center center;
    background-size: cover;
    width: 90%;
    height: 70%;
    border-radius: 5px;
  }

  .projectButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projectButtons a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
  }

  /* ---------------------------------------------- */
}
/* Fonts - Poppins */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
