html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222831;
}

header a {
  color: #eeeeee;
  text-decoration: none;
}

.textColorWhite{
  color: #eeeeee;
}

.textColorBlue {
  color: #00adb5;
}

.titleImg {
  background: url("./imgs/backgrounds/doodles\ mixed\ round.svg") no-repeat
    center center;
}
.cargoImg {
  background: url("./imgs/man/Group\ 2345.svg") no-repeat center center;
}
.cargoButtons {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.iconDownload {
  background: url("./imgs/icons/download.svg") no-repeat center center;
}

.downloadCVButton {
  background-color: #393e46;
  color: #eeeeee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 3px 5px #222831;
}

.hireMeButton {
  background-color: #00adb5;
  color: #eeeeee;
  text-shadow: 1px 3px 5px #222831;
}

.goDownPage {
  background: url("./imgs/icons/Frame\ 7.svg") no-repeat center center;
}

.line2 {
  background: url("./imgs/backgrounds/Line\ 2.svg") no-repeat center center;
}

.line1 {
  background: url("imgs/backgrounds/Line\ 1.svg") no-repeat center center;
}

.imgMusicIcon {
  background: url("imgs/backgrounds/Vector\ 141.svg") no-repeat center center;
  background-size: contain;
}

.imgLightIcon {
  background: url("imgs/backgrounds/lightbulb.svg") no-repeat center center;
  background-size: contain;
}

.aboutMeText {
  color: #eeeeee;
}

.aboutImg {
  background: url("imgs/backgrounds/doodle\ items.svg") repeat center center;
}

.aboutMeManImg {
  background: url("imgs/man/Group\ 62.svg") no-repeat center center;
}

.imgArrowIcon{
  background: url("imgs/backgrounds/Vector\ 187.svg") no-repeat center center;
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .logo {
    width: 100vw;
    height: 200px;
    background: #ffffff url("../imgs/Logotipo.png") no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AnchorLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }
  .line1 {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 5%;
  }
  .line2 {
    width: 100%;
    height: 10px;
  }
  .title {
    padding: 10px;
    position: absolute;
    top: 38%;
    text-align: center;
  }
  .title_up {
    width: 100vw;
    text-wrap: wrap;
    font-size: 1.5em;
  }
  .title_down {
    width: 100vw;
    text-wrap: wrap;
    font-size: 2em;
  }

  .titleImg {
    height: 300px;
    background-size: contain;
    align-content: center;
    text-align: center;
  }

  .cargoImg {
    height: 300px;
    background-size: contain;
    align-content: center;
    text-align: center;
  }

  .cargoButtons button {
    text-align: center;
    align-content: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 130px;
  }
  .iconDownload {
    height: 20px;
    width: 20px;
    display: block;
  }
  .goDownPageContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .goDownPage {
    width: 50px;
    height: 50px;
  }

  .titleAbout {
    text-align: center;
  }
  .titleAboutLeft {
    font-size: 2em;
  }

  .titleAboutRight {
    font-size: 2em;
  }

  .imgMusicIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 97%;
    left: 10%;
  }

  .imgLightIcon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 119%;
    right: 5%;
  }

  .aboutMeText {
    text-indent: 5px;
    text-align: justify;
    padding: 10px;
    backdrop-filter: blur(3px);
  }
  .aboutImg {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
  }
  .aboutMeManImg {
    height: 300px;
    background-size: contain;
    margin-right: 20px;
  }

  .imgArrowIcon{
    width: 80px;
    height: 200px;
    position: absolute;
    top: 210%;
    left: 1%;
   transform: rotate(25deg);
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/* Fonts - Poppins */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
